page-home {
text-align: center;
}
img {
  width: 200px;
  align-self: center;
  margin: auto;
  display: block;
  padding: 10px;
}

.botPequeno{
  width: 100px;
  height: 20px;
  font-size: 10px;
  float: right;
  margin-bottom: 30px;
  display: block;

}
