page-signup {
  p{
    color: red;
    font-weight: bolder;
  }

  .btEndereco{
    margin-top: 20px;
    display: block;
  }

  .border {
    border: 0.8px inset #488aff;
    padding:  6px 6px 10px 6px;
  
  }
}
